td{
    font-size: large;
    font-weight: bold;
    
}
h1{
    color: white;
    text-align: center;
    font-weight: bolder;
   
}
#thh{
    text-align: center;
}
/* table {   
    counter-reset: rowNumber-1;
    }
    table tr {
     counter-increment: rowNumber;
    }
    table tr td:first-child::before {   
    content: counter(rowNumber);   
    min-width: 1em;   
    margin-right: 0.5em;
    } */

    